// Specific CSS for your home-page
.navbar-lewagon .navbar-brand img {
    width: 60px;
}

#jacqueline {
    color: white;
    background-color: #131429;
}


.main-button {
    background-color: #f9b011;
    color: #131429;
    border: none;
    text-decoration: none;
    font-weight: 500;
    padding: 10px;
    border-radius: 1em;
}
