// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

#jacqueline {
  color: white;
  background-color: #131429;
}

#p-jacqueline{
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}
.header {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  color: #ffffff;
  height: 400px;
  background-color: #f9b011;
  height: 80vh;
}

p {
  color: #131429;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

.content-wrapper {
  min-height: calc(100vh - 70px - 80px);
}

// CSS POUR PAGE NEW


#hen-new {
  color: white;
  background-color: #f9b011;
  height: auto;
}


#title-new-hen {
  color: #131429;
}

#form {
  color: #131429;
  background-color: #ffffff;
  border-radius: 2em;
  box-shadow: 0 0 5px 5px 0,5 black;
}

.form-control {
  background-color: #F6F6F6;
  border: none;
  border-radius: 0,5em;
  height: 3em;
}
  .image-poule {
    height: 20%;
}


// CSS POUR PAGE INDEX

#hen-index {
  color: white;
  background-color: #f9b011;
  height: 100%;
  text-align: center;
}

.main-container {
  display: flex;
  background-color: #f3f3f3;
}

#map {
  position: sticky;
  top: 0;
  height: auto;
  border-radius: 1em;
}
