
<div class="container">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1579833105017-c8359cd0450b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1770&q=80)">
    <h3 class="card-text"> Welcome back </h3>
  </div>
</div>

<div class="container">
  <div class="cards">
      <div class="card-product">
        <img src="https://res.cloudinary.com/charlotte-smets/image/upload/v1637060480/jacqueline_hfxdpw.jpg" />
        <div class="card-product-infos">
           <div class="card-product-title"><h2>Marie-France </h2><p> 4.5 ⭐️</p></div>
          <p>____________________</p>
          <div class="card-product-title"><p><strong>Starting Date Ending Date</strong></p><p> 01/01/2021 02/02/2021</p></div>
          <p>____________________</p>
          <div class="card-product-title"><p><strong>City</strong></p><p>Paris</p></div>
          <p>____________________</p>
          <div class="card-product-title"><p><strong>Price Per Month</strong></p> <p> 30 € </p></div>
          <p>____________________</p>
          <div class="card-product-title"><p><strong>Total</strong></p><p><strong>250 €</strong></p></div>
        </div>
      </div>


      <div class="card-product">
        <img src="https://res.cloudinary.com/charlotte-smets/image/upload/v1637060480/jacqueline_hfxdpw.jpg" />
        <div class="card-product-infos">
          <div class="card-product-title"><h2>Marie-France </h2><p> 4.5 ⭐️</p></div>
          <p>____________________</p>
          <div class="card-product-title"><p><strong>Starting Date Ending Date</strong></p><p>01/01/2021 02/02/2021</p></div>
          <p>____________________</p>
          <div class="card-product-title"><p><strong>City</strong></p><p>Paris</p></div>
          <p>____________________</p>
          <div class="card-product-title"><p><strong>Price Per Month</strong></p> <p> 30 € </p></div>
          <p>____________________</p>
          <div class="card-product-title"><p><strong>Total</strong></p><p><strong>250 €</strong></p></div>
        </div>
      </div>

      <div class="card-product">
      <img src="https://res.cloudinary.com/charlotte-smets/image/upload/v1637060480/jacqueline_hfxdpw.jpg" />
      <div class="card-product-infos">
        <div class="card-product-title"><h2>Marie-France </h2><p> 4.5 ⭐️</p></div>
        <p>____________________</p>
        <div class="card-product-title"><p><strong>Starting Date Ending Date</strong></p><p>01/01/2021 02/02/2021</p></div>
        <p>____________________</p>
        <div class="card-product-title"><p><strong>City</strong></p><p>Paris</p></div>
        <p>____________________</p>
        <div class="card-product-title"><p><strong>Price Per Month</strong></p> <p> 30 € </p></div>
        <p>____________________</p>
        <div class="card-product-title"><p><strong>Total</strong></p><p><strong>250 €</strong></p></div>
      </div>
      </div>

      <div class="card-product">
        <img src="https://res.cloudinary.com/charlotte-smets/image/upload/v1637060480/jacqueline_hfxdpw.jpg" />
        <div class="card-product-infos">
          <div class="card-product-title"><h2>Marie-France </h2><p> 4.5 ⭐️</p></div>
          <p>____________________</p>
          <div class="card-product-title"><p><strong>Starting Date Ending Date</strong></p><p>01/01/2021 02/02/2021</p></div>
          <p>____________________</p>
          <div class="card-product-title"><p><strong>City</strong></p><p>Paris</p></div>
          <p>____________________</p>
          <div class="card-product-title"><p><strong>Price Per Month</strong></p> <p> 30 € </p></div>
          <p>____________________</p>
          <div class="card-product-title"><p><strong>Total</strong></p><p><strong>250 €</strong></p></div>
        </div>
      </div>
  </div>
</div>
