<div class="d-flex align-content-center flex-wrap header pt-5" id="header">
  <div class="container-sm ">
    <div class="row p-5">
      <div class="col-sm-12 col-md-8 col-lg-8">
        <h4>FIND YOUR PERFECT HEN</h4>
        <h1>Are you looking for the perfect hen ?
        <br>Egg got this for you !</h1>
        <br>
        <p>Egg is your solution to have fresh eggs every morning ! How many eggs do you need per day ? 10, 20, 50 ? With Egg, you'll find the hen that answer you need!
       Let's have some sunny sides up for breakfast now !</p>

        <%= form_tag hens_path, class: "d-flex", method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "p form-control",
            placeholder: "Enter your location"
          %>
          <button type="submit" class="button-blue-search">
            <i class="fa fa-search"></i>
          </button>
        <% end %>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4">
        <img src="https://res.cloudinary.com/charlotte-smets/image/upload/v1637146303/chicken-image-23001_ivjip8.png" class="img-fluid rounded" alt="...">
      </div>
    </div>
  </div>
</div>

<div id="jacqueline">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <img src="https://res.cloudinary.com/charlotte-smets/image/upload/v1637060480/jacqueline_hfxdpw.jpg" class="img-fluid rounded" alt="Jacqueline the hen">
    </div>
    <div class="d-flex align-content-center flex-wrap col-sm-12 col-md-12 col-lg-6 p-5">
      <h1>Adopt Jacqueline for two weeks!</h1>

      <p id="p-jacqueline"> <br>Jacqueline is a Super Hen from Mayenne!
        She makes more than 20eggs per week and is super friendly with kids!
      </p>
      <%= link_to hens_path do %>
        <button class="main-button" type="button">Discover Jacqueline</button>
      <% end %>
    </div>
  </div>
</div>
