.container {
  width: 900px;

  margin: auto;

  h1 {
    padding: 10px 0;
    color: black;
  }

  i {
    color: #f9b011;
  }
}

.container-background {
  background-color: #f9b011;
}

.container-hen {
  width: 900px;
  margin: auto;
}
