h4 {
  font-weight: 600;
  font-family: 'Quicksand', sans-serif;;
  color: #131429;
  font-size: 16px;
}

h1 {
  font-weight: 600;
  font-family: 'Quicksand', sans-serif;;
  color: #ffffff;
  font-size: 44px;
}
